/* Removing paddings and margins, then adding them back to the second child */
* {
  padding: 0;
  margin: 0;
}

* + * {
  padding: 1rem 0;
}

body {
  padding: 0;
  background-color: #202830;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

a { 
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

main {
  min-height: calc(100vh - 100px);
  width: 70vw;
  margin: auto;
}

.main__header {
  min-height: 30vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.main__title {
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 3.5rem;
  padding: 2rem 0 0 0;
}

.main__title--small {
  font-size: 1rem;
}

.main__list {
  padding: 2rem 0;
  list-style: none;
}

.main__list__item::before {
  content: ' - ';
  padding: .25rem 0;
}

.main__list__item {
  padding: .25rem 0;
}

.container {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem 4rem;
}

.card {
  width: 100%;
  height: 30vh;
  display: grid;
  place-content: center;
  position: relative;
  padding: 1rem;
  border-radius: 2rem;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tech {
  padding: 0;
}

.tech__img-wrapper {
  position: relative;
  height: 5rem;
  width: 5rem;
}

.tech__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

footer {
  padding: 0;
  min-height:  100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neo {
  box-shadow: -4px -4px 5px #ffffff10, 4px 4px 5px #00000020;
}